<!doctype html>
<html lang="en" style="height:100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- JQuery --->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>BSA MRU</title>
</head>

<body style="height:100%;">
  <nav class="navbar navbar-expand-lg"> <a class="navbar-brand" href="/"><span id="navbar-brand-cache">CACHE</span><span id="navbar-brand-me">ME</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a class="nav-link px-4" id="nav-link-user-guide" href="#">User guide</a>
        <li class="nav-item dropdown"> <a class="nav-link btn btn-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Simulate </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/simpleton">Simpleton</a> <a class="dropdown-item" href="/sequential">Sequential</a> </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-3 h-100">
    <h1 class="text-center">Sequential BSA Simulator</h1>
  <div class="row p-5"> 
    <div class="col-6">
      <div class="form-group pb-2">
        <label for="inputType">Input type</label>
        <select class="form-control" id="inputType">
          <option>blocks</option>
          <option>addresses</option>
        </select>
      </div>
      <label for="wordSize">Word size</label>
      <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="wordSize" aria-label="wordSize">
          <div class="input-group-append">
            <span class="input-group-text">bits</span>
          </div>                
        </div>
        <div class="row ml-2 pb-3">
          <small id="wordError" class="text-danger input-error">Missing input</small>
        </div>
      

        <label for="blockSize">Block size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="blockSize" aria-label="blockSize">
          <div class="input-group-append">
            <span class="input-group-text">words</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="blockError" class="text-danger input-error">Missing input</small>
        </div>

        <label for="setSize">Set size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="setSize" aria-label="setSize">
          <div class="input-group-append">
            <span class="input-group-text">blocks</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="setError" class="text-danger input-error">Missing input</small>
        </div>
    </div>

    <div class="col-6">
      <label for="cacheSize">Cache size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="cacheSize" aria-label="cacheSize">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">blocks</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">blocks</a>
              <a class="dropdown-item" href="#">addresses</a>
            </div>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="cacheError" class="text-danger input-error">Missing input</small>
        </div>

      <label for="cacheTime">Cache access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="cacheTime" aria-label="cacheTime">
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="setError" class="text-danger input-error">Missing input</small>
        </div>
        <label for="memorySize">Memory size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="memorySize" aria-label="memorySize">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">blocks</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">blocks</a>
              <a class="dropdown-item" href="#">addresses</a>
            </div>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="memoryError" class="text-danger input-error">Missing input</small>
        </div>

      <label for="memoryTime">Memory access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control is-invalid" id="memoryTime" aria-label="memoryTime">
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="setError" class="text-danger input-error">Missing input</small>
        </div>
    </div> <!-- END OF COL 2 -->
  </div> <!-- ROW -->
  <div class="col-12 pl-5 pr-5">
    <div class="row">
      <button class="btn btn-outline-secondary btn-lg" id="addTaskButton">+</button>
      <button class="btn btn-outline-secondary btn-lg" id="removeTaskButton">-</button>
    </div>

      <div id="taskList">
          <div class="task-group">
              <div class="row"><h3>Task 1</h3></div>
              <div class="row">
                  <div class="form-group col-4">
                      <label for="lowerRange-1">Lower Range</label>
                      <input type="number" class="form-control form-control-sm lower-range" id="lowerRange-1">
                  </div>

                  <div class="form-group col-4">
                      <label for="upperRange-1">Upper Range</label>
                      <input type="number" class="form-control form-control-sm upper-range" id="lowerRange-1">
                  </div>

                  <div class="form-group col-4">
                      <label for="loopCount-1">Loop count</label>
                      <input type="number" class="form-control form-control-sm loop-count" id="lowerRange-1">
                  </div>
              </div>
          </div>
      </div>

     <div class="row">
      <button class="btn btn-secondary btn-lg" id="resetButton">Reset</button>
      <button class="btn btn-primary btn-lg" id="simulateButton">Simulate</button>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-12 pl-5 pr-5">
      <h1 class="text-center">Cache Results</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Set</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div> <!-- Table row-->
  <div class="col-12 pl-5 pr-5 pt-3 pb-3">
    <div class="row text-muted">
      <div class="form-group col-4">
        <label for="cacheMisses">Cache misses</label>
        <input type="text" class="form-control form-control-sm" id="cacheMisses" readonly>
      </div>

      <div class="form-group col-4">
        <label for="cacheHits">Cache hits</label>
        <input type="text" class="form-control form-control-sm" id="cacheHits" readonly>
      </div>

      <div class="form-group col-4">
        <label for="totalQueries">Total queries</label>
        <input type="text" class="form-control form-control-sm" id="totalQueries" readonly>
      </div>
    </div>

    <div class="row text-muted">
      <div class="form-group col-4">
        <label for="missPenalty">Miss penalty</label>
        <input type="text" class="form-control form-control-sm" id="missPenalty" readonly>
      </div>
      <div class="form-group col-4">
        <label for="averageTime">Average access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control form-control-sm" id="averageTime" aria-label="averageTime" readonly>
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="totalTime">Total access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control form-control-sm" id="totalTime" aria-label="totalTime" readonly>
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary btn-lg" id="saveToFileButton">Save to file</button>
    </div>
  </div>
</div> <!-- MAIN CONTAINER-->
  <script type="text/javascript" src="/javascripts/cacheSimulation.js"></script>
</body>
</html>