<!doctype html>
<html lang="en" style="height:100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- JQuery --->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>BSA MRU Simpleton</title>
</head>

<body style="height:100%;">
  <nav class="navbar navbar-expand-lg"> <a class="navbar-brand" href="/"><span id="navbar-brand-cache">CACHE</span><span id="navbar-brand-me">ME</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <a class="nav-link px-4" id="nav-link-user-guide" href="#">User guide</a>
      <li class="nav-item dropdown"> <a class="nav-link btn btn-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Simulate </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="/simpleton">Simpleton</a> <a class="dropdown-item" href="/sequential">Sequential</a> </div>
      </li>
    </ul>
    </div>
  </nav>

  <div class="container h-100">
    <h1 class="text-center">Simpleton BSA Simulator</h1>
  <div class="row p-5"> 
    <div class="col-6">
      <div class="form-group pb-2">
        <label for="inputType">Input type</label>
        <select class="form-control" id="inputType">
          <option>blocks</option>
          <option>addresses</option>
        </select>
      </div>

      <label for="querySequence">Query sequence</label>
      <div class="input-group pb-2">
          <input type="text" class="form-control" id="querySequence" placeholder="Must be separated with spaces" aria-label="querySequence">               
      </div>
      <div class="row ml-2 pb-3">
        <small id="queryError" class="text-danger input-error"></small>
      </div>

      <label for="wordSize">Word size</label>
      <div class="input-group pb-2">
          <input type="text" class="form-control" id="wordSize" aria-label="wordSize">
          <div class="input-group-append">
            <span class="input-group-text">bits</span>
          </div>                
        </div>
        <div class="row ml-2 pb-3">
          <small id="wordError" class="text-danger input-error"></small>
        </div>
      

      <label for="blockSize">Block size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control" id="blockSize" aria-label="blockSize">
          <div class="input-group-append">
            <span class="input-group-text">words</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="blockError" class="text-danger input-error"></small>
        </div>

        <label for="setSize">Set size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control" id="setSize" aria-label="setSize">
          <div class="input-group-append">
            <span class="input-group-text">blocks</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="setError" class="text-danger input-error"></small>
        </div>
    </div>

    <div class="col-6">
      <label for="cacheSize">Cache size</label>
      
        <div class="input-group pb-2">
          <input type="text" class="form-control" id="cacheSize" aria-label="cacheSize">
          <div class="dropdown input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" id="cacheSizeDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" id="cacheSizeOptions">
              <a class="dropdown-item" value="blocks">blocks</a>
              <a class="dropdown-item" value="words">words</a>
            </div>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="cacheError" class="text-danger input-error"></small>
        </div>

      <label for="cacheTime">Cache access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control" id="cacheTime" aria-label="cacheTime">
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="cacheTimeError" class="text-danger input-error"></small>
        </div>
        <label for="memorySize">Memory size</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control" id="memorySize" aria-label="memorySize">
          <div class="dropdown input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" id="memorySizeDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" id="memorySizeOptions">
              <a class="dropdown-item" value="blocks">blocks</a>
              <a class="dropdown-item" value="words">words</a>
            </div>
          </div>
        </div>
        <div class="row ml-2 pb-3">
          <small id="memoryError" class="text-danger input-error"></small>
        </div>

      <label for="memoryTime">Memory access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control" id="memoryTime" aria-label="memoryTime">
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
        <div class="row ml-2 pb-2">
          <small id="memoryTimeError" class="text-danger input-error"></small>
        </div>
    </div> <!-- END OF COL 2 -->
  </div> <!-- ROW -->
  <div class="row pl-5 pr-5 text-right">
    <div class="col-12">
      <button class="btn btn-secondary btn-lg" id="resetButton">Reset</button>
      <button class="btn btn-primary btn-lg" id="simulateButton">Simulate</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 pl-5 pr-5" id="tableHolder">
      <h1 class="text-center">Cache Results</h1>
      <table class="table table-bordered" id="dummyTable">
        <thead>
          <tr>
            <th scope="col">Set</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <th scope="row">0</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>

    
    

  </div> <!-- OUTPUT ROW -->
  <div class="col-12 pl-5 pr-5 pt-3 pb-3">
    <div class="row text-muted">
      <div class="form-group col-4">
        <label for="cacheMisses">Cache misses</label>
        <input type="text" class="form-control form-control-sm" id="cacheMisses">
      </div>

      <div class="form-group col-4">
        <label for="cacheHits">Cache hits</label>
        <input type="text" class="form-control form-control-sm" id="cacheHits">
      </div>

      <div class="form-group col-4">
        <label for="totalQueries">Total queries</label>
        <input type="text" class="form-control form-control-sm" id="totalQueries">
      </div>
    </div>

    <div class="row text-muted">
      <div class="form-group col-4">
        <label for="missPenalty">Miss penalty</label>
        <input type="text" class="form-control form-control-sm" id="missPenalty">
      </div>
      <div class="form-group col-4">
        <label for="averageTime">Average access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control form-control-sm" id="averageTime" aria-label="averageTime">
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
      </div>
      <div class="form-group col-4">
        <label for="totalTime">Total access time</label>
        <div class="input-group pb-2">
          <input type="text" class="form-control form-control-sm" id="totalTime" aria-label="totalTime">
          <div class="input-group-append">
            <span class="input-group-text">ns</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary btn-lg" id="saveToFileButton">Save to file</button>
    </div>
  </div>
</div> <!-- MAIN -fluid-->
<script type="text/javascript" src="/javascripts/cacheSimulation.js"></script>
<script type="text/javascript" src="/javascripts/simulationSimpleton.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {

      $('#cacheSizeDropdown').on('click', function() {
          if ($('#cacheSizeOptions').css('display') === 'none')
              $('#cacheSizeOptions').css('display', 'block');
          else
              $('#cacheSizeOptions').css('display', 'none');
      });

      $('#memorySizeDropdown').on('click', function() {
          if ($('#memorySizeOptions').css('display') === 'none')
              $('#memorySizeOptions').css('display', 'block');
          else
              $('#memorySizeOptions').css('display', 'none');
      });

      // Initialize first selected value to blocks
      $('#cacheSizeDropdown').val('blocks');
      $('#cacheSizeDropdown').text('blocks');
      $('#memorySizeDropdown').val('blocks');
      $('#memorySizeDropdown').text('blocks');
  }) ;

  $('#cacheSizeOptions a').on('click', function() {
      $('#cacheSizeDropdown').val($(this).text());
      $('#cacheSizeDropdown').text($(this).text());
      $('#cacheSizeOptions').css('display', 'none');
  });

  $('#memorySizeOptions a').on('click', function() {
      $('#memorySizeDropdown').val($(this).text());
      $('#memorySizeDropdown').text($(this).text());
      $('#memorySizeOptions').css('display', 'none');
  });



</script>
</body>
</html>