<!doctype html>
<html lang="en" style="height:100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Custom Styles -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <!-- JQuery --->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>BSA MRU</title>
</head>

<body style="height:100%;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3F51B5;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">CacheMe</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Simpleton</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sequential</a>
          </li>
        </ul>
      </div>
    </div>  
  </nav>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-5 align-items-center justify-content-center pt-5">
        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-4">
              <label for="wordSize">Word size</label>
              <input type="number" class="form-control form-control-sm">
          </div>
          <div class="form-group col-4">
              <label for="wordSizeUnit">Unit</label>
              <input class="form-control form-control-sm" id="disabledInput" type="text" placeholder="bits" disabled>
          </div>
        </div>
        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-4">
              <label for="blockSize">Block size</label>
              <input type="number" class="form-control form-control-sm">
          </div>
          <div class="form-group col-4">
              <label for="blockSizeUnit">Unit</label>
              <input class="form-control form-control-sm" id="disabledInput" type="text" placeholder="words" disabled>
          </div>
        </div>
        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-4">
              <label for="setSize">Set size</label>
              <input type="number" class="form-control form-control-sm">
          </div>
          <div class="form-group col-4">
              <label for="setSizeUnit">Unit</label>
              <input class="form-control form-control-sm" id="disabledInput" type="text" placeholder="blocks" disabled>
          </div>
        </div>
      
        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-4">
              <label for="cacheSize">Cache size</label>
              <input type="number" class="form-control form-control-sm">
          </div>
          <div class="form-group col-4">
              <label for="cacheSizeUnit">Unit</label>
              <select id="cacheSizeUnitSelect" class="form-control form-control-sm">
                  <option>blocks</option>
                  <option>words</option>
              </select>
          </div>
        </div>
    
        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-4">
              <label for="memorySizeUnit">Memory size</label>
              <input type="number" class="form-control form-control-sm">
          </div>
          <div class="form-group col-4">
              <label for="formGroup1">Unit</label>
              <select id="memorySizeUnitSelect" class="form-control form-control-sm">
                  <option>blocks</option>
                  <option>words</option>
              </select>
          </div>
        </div>

        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-4">
              <label for="formGroup1">System</label>
              <select id="disabledSelect" class="form-control form-control-sm">
                  <option>Decimal</option>
                  <option>Hexadecimal</option>
              </select>
          </div>
          <div class="form-group col-4">
              <label for="formGroup1">Input type</label>
              <select id="disabledSelect" class="form-control form-control-sm">
                  <option>blocks</option>
                  <option>addresses</option>
              </select>
          </div>
        </div>
        
        <div class="form-row justify-content-center align-items-center">
          <div class="form-group col-8">
              <label for="exampleFormControlTextarea1">Query sequence</label>
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>

        <div class="form-row justify-content-center align-items-center">
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
      <div class="col-7 align-items-center justify-content-center pt-5" style="background-color: #fafafa;">
        
        <div class="row align-items-center justify-content-center">
          <div class="col-9">
            <div class="card">
              <div class="card-header">Cache results</div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Set</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">0</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row card-footer text-muted">
                <div class="form-group col-4">
                  <label for="formGroup1">Cache misses</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="form-group col-4">
                  <label for="formGroup1">Cache hits</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="form-group col-4">
                  <label for="formGroup1">Total queries</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row card-footer text-muted">
                <div class="form-group col-4">
                  <label for="formGroup1">Miss penalty</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="form-group col-4">
                  <label for="formGroup1">Average access time</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="form-group col-4">
                  <label for="formGroup1">Total access time</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
        
        
      </div> <!--RIGHT PANEL-->
      
      
    </div> <!-- MAIN ROW -->


      
  </div> <!-- MAIN CONTAINER-->
  <script type="text/javascript" src="/javascripts/cacheSimulation.js"></script>
</body>
</html>