@charset "UTF-8";
/* CSS Document */
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.accent-color          { background: #FF9800; }

@charset "UTF-8";
/* CSS Document */
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.accent-color          { background: #FF9800; }

html {
    scroll-behavior: smooth;
}

body, .modal-footer {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;

	background: rgba(197, 202, 233, 0.1);
}

.container {
	background-color:white;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
#nav-link-user-guide {
	color: #303F9F!important;
}

#navbar-brand-cache, #jumbotron-text-highlight {
	color: #FF9800;
	font-weight: 700;
}

#navbar-brand-me {
	color: #303F9F;
	font-weight: 800;
}


/*.dropdown:hover>.dropdown-menu {*/
/*  display: block;*/
/*}*/

.jumbotron {
	background-color: transparent;
}

.display-4 {
	font-weight: 800;
}

.btn {
	border-radius: 10px;
}
.btn-primary {
	background-color: #3F51B5;
	border: none!important;
	
}

.btn-primary:hover {
	background-color: #303F9F;
	border: none!important;
	text-decoration: none!important;
}

.btn-secondary {
	color: #3F51B5;
}

.btn-secondary:hover, a:hover {
	color: #303F9F;
	text-decoration: underline!important;
}

.btn-secondary,.btn-secondary:hover {
	background-color: transparent;
    border-color: transparent;
}

#jumbotron-btn {
	font-weight: 700;
}
.btn-outline-secondary {
  color: #3F51B5;
  border-color: #3F51B5;
}

.modal-header, .modal-footer {
	border: none; 
}

.card-footer {
	border: none;
}

.card-footer-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.left {
	border-right: solid 2px;
	border-right-color: #DCDCDC;
}

.form-control[readonly] {
	background-color: inherit;
}