@charset "UTF-8";
/* CSS Document */
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.accent-color          { background: #FF9800; }

@charset "UTF-8";
/* CSS Document */
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.accent-color          { background: #FF9800; }

html {
	scroll-behavior: smooth;
	height: 100%;
}

body, .modal-footer {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	background:#F8F8FB;
	height: 100%;
}

nav {
	background: #F8F8FB;
}
.container {
	background-color:white;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
#nav-link-user-guide {
	color: #303F9F!important;
}

#navbar-brand-cache, #navbar-brand-me {
	font-size: xx-large;
}
#navbar-brand-cache, #jumbotron-text-highlight {
	color: #FF9800;
	font-weight: 700;
}

#navbar-brand-me {
	color: #303F9F;
	font-weight: 800;
}

h2 {
	color: #3F51B5; 
	font-weight:600;
}
.modal-title {
	font-weight: 600;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(63, 81, 181, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.jumbotron {
	background-color: transparent;
}

.display-4 {
	font-weight: 800;
}

.btn {
	border-radius: 10px;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
  }
  
 
.btn-primary, .btn-primary[disabled] {
	background-color: #3F51B5;
	border: none!important;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	
	
}

.btn-secondary:hover {
	color:#3F51B5;
}
.btn-secondary:hover, a:not(.navbar-brand):hover {
	text-decoration: underline!important;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary[disabled]:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #303F9F;
	color: white!important;
	border: none!important;
	text-decoration: none!important;
	border-color: transparent!important;
}

a:not(.btn .nav-link):hover{
	text-decoration: none!important;
}
.btn-secondary {
	color: #3F51B5;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-secondary.dropdown-toggle,
.btn-outline-secondary:hover {
	color: #3F51B5;
	background-color: rgba(197, 202, 233, 0.5);
	border-color: #3F51B5;
}
.btn-secondary, .btn-secondary:hover {
	background-color: transparent;
    border-color: transparent;
}


#jumbotron-btn {
	font-weight: 700;
}
.btn-outline-secondary {
  color: #3F51B5;
  border-color: #3F51B5;
}

.modal-header, .modal-footer {
	border: none; 
}

.card-footer {
	border: none;
}

.card-footer-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.left {
	border-right: solid 2px;
	border-right-color: #DCDCDC;
}

.form-control:focus {
	border: 1px solid #ced4da;
	border-color: transparent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.form-control[readonly] {
	background-color: inherit;
}